<h2>Game List</h2>
<a class="btn btn-xs btn-primary" href="~/Home/Crear">New Game</a>
<a class="btn btn-xs btn-primary" href="~/Home/Ranking">Ranking</a>
<a class="btn btn-xs btn-primary" href="~/Home/SearchGame">Search Game</a>

<table class="table">
    <thead>
        <tr>
            <th style="width:200px;">Name</th>
            <th style="width:200px;">Publisher</th>
            <th style="width:200px;">Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProyectoPracticoModulo2.Models.Videogames game in Model)
        {
            <tr>
                <td>@game.name</td>
                <td>@game.publisher</td>
                <td>@game.Genre()</td>
                <td>
                    <a class="btn btn-xs btn-default " href="~/Home/ver/@game.id">Show</a>
                </td>
            </tr>
        }
    </tbody>
</table>